.navbar {
    background-color: #ffcc00
    ;
}

.navbar-toggler-icon {

    background-color:rgba(0, 0, 0, 0.91) !important;
    color: whitesmoke !important;
    border-radius: 2px;   
}

.card {
    max-width: 540px;
}

.blocOverview {

    width: 250%;
    position: absolute;
    top: -50%;
    left: -50%;
    
    background-color: rgba(0, 0, 0, 0.91);
    color: whitesmoke;
    border : 5px #30cfc0 solid !important;
    box-shadow: gray 0.05px 0.05px 10px !important;
}

.titre {

    margin-bottom : 1em;
}

input[list], datalist option {
  
    background: black;
}

.fa-star {
	color: black;
	/*cursor: pointer;*/
	padding: 0.0625rem;
}
    
.fa-star.gold {
    color: #ffdc0f;
}

.rating {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stars {
    display: inline-flex;
    justify-content: center;
    font-size: 1em;
}

a { 

    font-weight: 600; 
    transition: all 0.8s cubic-bezier(.14,1.36,.5,.88); 
    display: inline-block; 
}

a:hover { 
    transform: scale(1.1);
}


@media all and (max-width : 992px) {

    .blocOverview {

        max-width: 100%;
        position: absolute;
        z-index: 9999;
        top: 0em;
        left: 0%;
    }

    .inputSearch {

        width: 50% !important;
        margin-top: 5%;
    }

}