.navbar {
    background-color: #ffcc00
    ;
}

.card {
    max-width: 540px;
}

.blocOverview {

    width: 300%;
    position: absolute;
    top: -15em;
    left: -8em;
    background-color: rgba(0, 0, 0, 0.91);
    color: whitesmoke;
    border : 5px #30cfc0 solid !important;
    box-shadow: gray 0.15px 0.15px 30px !important;
}

.titre {

    margin-bottom : 1em;
}