.navbar {
    background-color: #ffcc00
    ;
}

.navbar-toggler-icon {

    background-color:rgba(0, 0, 0, 0.91) !important;
    color: whitesmoke !important;
    border-radius: 2px;   
}

.card {
    max-width: 540px;
}

.blocOverview {

    width: 300%;
    position: absolute;
    top: -15em;
    left: -8em;
    background-color: rgba(0, 0, 0, 0.91);
    color: whitesmoke;
    border : 5px #30cfc0 solid !important;
    box-shadow: gray 0.05px 0.05px 10px !important;
}

.titre {

    margin-bottom : 1em;
}

input[list], datalist option
{
  background: black;
}